* {font-family: nimbus-sans-condensed, sans-serif;
font-weight: 400;
font-style: normal;
}

body {
        margin: 0;
      }

      body, html {
        height: 100%;
        font-family: monospace;
      }

      * {
        box-sizing: border-box;
      }

      #icons-container {
        position: absolute;
        top: 55px;
        height: calc(100% - 110px);
        width: 100%;
        overflow: hidden;
        z-index: 50;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
      }

      .controls {
        z-index: 100;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 55px;
        padding: 0 13px 13px 13px;
      }

      .info {
        opacity: 0;
        width: calc(50% - 59px);
        display: flex;
      }
      
      .info-right {
        justify-content: flex-end;
      }

      .navi {
        display: flex;
      }

      .navi-page-left, .navi-page-right {
        width: 59px;
      }

      .navi-page-left {
        margin: 0 6px 0 0;
      }

      .navi-page-right {
        margin: 0 0 0 6px;
      }

      .navi button {
        width: 100%;
      }

      .logo-container {
        width: 100vw;
        position: fixed;
        top: 0;
        height: 55px;
        display: flex;
        align-items: flex-start;
        z-index: 100;
      }
      
      .logo-container > div {
        height: 55px;
        display: flex;
        align-items: center;
      }
      
      .logo-container .logo-elem-container, .logo-container .pageinfo-container {
        align-items: center;
      }

      .logo-elem-container, .view-container {
        width: 50vw;
      }

      .logo-elem, .pageinfo-elem {
        display: flex;
      }
      
      .logo-elem-container {
        padding: 0 0 0 13px;
      }
    
      .view-container {
        justify-content: flex-end;
        padding: 7px 13px 0 0;
      }
      
      .view-container button {
        height: 43px;
      }

      .logo-elem {
        display: flex;
      }

      .pageinfo-container {
        display: flex;
        justify-content: center;
        width: 500px;
      }

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: 0.5s;
        position: absolute;
        z-index: 50;
        /*
        background: rgba(255,255,255,0);
        */
      }
      
      .icon-container:hover {
        cursor: pointer;
      }
      
      .icon-container.huged {
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
        z-index: 200;
        /*
        background: rgba(255,255,255,1);
        */
      }
      
      .icon-container.huged img {
        max-width: 100% !important;
        max-height: calc(100vh - 110px) !important;
      }
      
      .ui-iconmaxed .icon-container img {
        opacity: 0;
      }
      
      .icon-container.huged img {
          opacity: 1;
      }
      
      .icon-container.tranced img {
        min-height: calc(100vh - 110px);
      }
      
      .huger {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: #f00;
        z-index: 90;
      }

      .icon-container img {
        max-height: 128px;
        max-width: 128px;
        padding: 11px;
        /*
        transition: 0.11s;
        */
        transition: 0.5s;
        image-rendering: -moz-crisp-edges;
      }
      
      .view-button-grid, .view-button-full {
        height: 42px;
      }
      
      .view-button-grid {
        border-radius: 12px 0 0 12px;
      }
      
      .view-button-full {
        border-radius: 0 12px 12px 0;
      }
      
      /* Mobile */
      @media only screen and (max-width: 767px) {
        .icon-container {
          -webkit-tap-highlight-color: rgba(0,0,0,0); 
          /*
          width: 64px;
          height: 64px;
        */
      }
    
        .icon-container img {
          max-height: 64px;
          max-width:  64px;
          padding: 6px;
        }
      }
      
      /* Desktop */
      @media only screen and (min-width: 768px) {
        .icon-container:hover img {
          box-shadow: 1px 1px 2px #777;
          transform: translate(-2px,-2px);
        }
    
        .icon-container.huged:hover img {
          box-shadow: 0px 0px 10px #fff;
          transform: translate(0px,0px)
        }
      }
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
